body {
  font-family: 'Space Mono', monospace;
  color: #f0f0f0;
  position: relative;
  background: transparent;
}

body::before {
  content: "";
  position: fixed;
  background: #000000 url("../img/bg.jpg") top center no-repeat;
  filter: brightness(20%); 
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  
}

@media (min-width: 1024px) {
  body::before {
    background-attachment: fixed;
  }
}

a {
  color: #18d26e;
}

a:hover {
  color: #35e888;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Space Mono', monospace;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: ease-in-out 0.3s;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 997;
  overflow-y: auto;
}

#header * {
  transition: ease-in-out 0.3s;
}

#header h1 {
  font-size: 60px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  font-family: 'Space Mono', monospace;
}

#header h1 a, #header h1 a:hover {
  color: #fff;
  line-height: 1;
  display: inline-block;
}

#header h2 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 30px;
  color: rgba(238, 238, 238, 0.8);
}

#header h2 span {
  color: #EEEEEE;
  border-bottom: 2px solid #1de9b6;
  padding-bottom: 6px;
}

#header img {
  padding: 0;
  margin: 0;
}

#header .social-links {
  margin-top: 2em;
  display: flex;
}

#header .social-links a {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(230, 230, 230, 0.1);
  color: #EEEEEE;
  line-height: 1;
  margin-right: 15px;
  border-radius: 10%;
  border: 1px solid rgba(230, 230, 230);; 
  width: 40px;
  height: 40px;
}

#header .social-links a:hover {
  color: #202020;
  background: #1de9b6;
  border: none;

}

@media (max-width: 992px) {
  #header h1 {
    font-size: 36px;
  }
  #header h2 {
    font-size: 20px;
    line-height: 30px;
  }
  #header .social-links {
    margin-top: 15px;
  }
  #header .container {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.08em solid rgba(20,20,20,1);
  white-space: nowrap; /* Keeps the content on a single line */
  padding-right: 0.4em;
  animation: 
    typing 1.5s steps(40, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #202020; }
}